@use "@nota-lang/nota-common/dist/index" as *;

.cm-completionIcon-react:after {
  content: '⚛';
  font-size: 140%;
  display: block;
  margin-bottom: -1px;
  margin-top: -4px;
  position: relative;
  top: 2px;
}

.translate-error {
  position: fixed;
  z-index: 1000;
  top: 60px;
  right: 20px;
  margin: 0;
  padding: 5px 10px;
  border: 1px solid #ccc;
  border-radius: 2px;
  color: red;
  background: white;
  box-shadow: 1px 2px 3px rgb(0 0 0 / 20%);
  max-width: 100%;
  height: min-content;  
  white-space: pre-wrap;
  overflow-x: auto;
}

@include mobile {
  .cm-gutterElement {
    padding-left: 0 !important;
  }
}