@use "@nota-lang/nota-common/dist/index" as *;

.cm-completionIcon-react:after {
  content: '⚛';
  font-size: 140%;
  display: block;
  margin-bottom: -1px;
  margin-top: -4px;
  position: relative;
  top: 2px;
}

.nota-editor {
  height: 100%;
  
  .editor-wrapper {
    position: relative;
  }

  .editor-el {
    overflow-y: auto;
    height: 100%;
  }

  .components-panel {
    position: absolute;
    border: 1px solid #ccc;
    padding: 5px 10px;
    top: 0;
    right: 0;
    background: white;
    display: flex;
    gap: 8px;
    height: 100%;
    min-height: 500px;

    .comment {
      text-align: left;
      font-size: 85%;
      padding-left: 10px;
      line-height: 1em;
    }

    .divider {      
      background: #ccc;
      flex: 0 0 1px;
    }

    .component, .module {
      cursor: pointer;

      &.selected {
        font-weight: bold;
      }
    }

    .subpanel {
      height: 100%;
      overflow-x: auto;
      display: flex;      
      flex-direction: column;
      gap: 0.5em;
      width: 250px;
    }
  }

  .editor-toolbar {
    .buttons {
      padding: 5px;
      display: flex;
      gap: 5px;

      button {
        font-size: 12px;
      }
    }
  }  
}

.translate-error {
  position: fixed;
  z-index: 1000;
  bottom: 20px;
  right: 20px;
  margin: 0;
  padding: 5px 10px;
  border: 1px solid #ccc;
  border-radius: 2px;
  color: red;
  background: white;
  box-shadow: 1px 2px 3px rgb(0 0 0 / 20%);
  max-width: 100%;
  height: min-content;  
  white-space: pre-wrap;
  overflow-x: auto;
}

@include mobile {
  .cm-gutterElement {
    padding-left: 0 !important;
  }
}