

.cm-completionIcon-react:after {
  content: '⚛';
  font-size: 140%;
  display: block;
  margin-bottom: -1px;
  margin-top: -4px;
  position: relative;
  top: 2px;
}

.translate-error {
  position: sticky;
  z-index: 1000;
  top: 5px;
  right: 10px;
  margin: 0;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 2px;
  color: red;
  background: white;
  box-shadow: 1px 2px 3px rgb(0 0 0 / 20%);
  max-width: 100%;
}
