@use "@nota-lang/nota-common/dist/index.scss" as *;

@mixin block {
  margin-block-start: 1em;
  margin-block-end: 1em;
}

.block {
  @include block; 
}

.nota-document {
  font-family: var(--font-body);
  font-size: var(--size-normal);
  text-align: justify;

  @include mobile {
    text-align: left;
  }

  line-height: 1.3em;
  overflow-wrap: anywhere;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--font-header);
    margin: 0;
    text-align: left;
    line-height: 1em;
  }

  h1 {
    font-size: var(--size-huge);
  }

  h2 {
    font-size: var(--size-LARGE);
  }

  h3 {
    font-size: var(--size-large);
  }

  p {
    // Note: <html> must have a lang="..." attribute for hyphens to work!
    hyphens: auto;
    margin: 0;

    &.noindent {
      text-indent: 0;
    }
  }

  p + p {
    text-indent: 1em;
  }


  a[href] {
    cursor: pointer;
    text-decoration: none;
    color: rgb(0, 0, 238);

    &:visited {
      color: rgb(85, 26, 139);
    }

    &:hover {
      text-decoration: underline;
    }

    &.nolink {
      color: inherit;

      &:hover {
        text-decoration: none;
        background: rgba(19, 92, 202, 0.1);
      }
    }
  }
  
  hr {
    border-color: #eee;
    margin: 1rem 2rem;
  }

  ul,
  ol {
    @include block;
    padding-left: 1.5em;

    > li {
      margin-bottom: 0.5em;
      padding-left: 0.25em;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  ol.parenkey {
    counter-reset: list;

    &[start="2"] {
      counter-increment: list;
    }

    > li {
      list-style: none;
    }
    > li:before {
      content: "(" counter(list, lower-alpha) ") ";
      counter-increment: list;
      margin-left: -1.5rem;
    }
  }

  // https://css-tricks.com/almanac/properties/q/quotes/
  q {
    quotes: "“" "”" "‘" "’";
  }

  &.editing .error {
    color: var(--color-error);
    padding: 2px;
    border: 1px solid var(--color-error);
    border-radius: 2px;
  }

  table:not([class]) {
    border-collapse: collapse;

    th, td {
      border: 1px solid var(--color-light-border);
      padding: 2px 6px;
    }
  }
}

.footnotes {
  font-size: var(--size-footnote);

  .backlink {
    color: black;
    font-size: 10px;
  }

  .footnote-number {
    font-size: var(--size-small);
    margin-right: 10px;
  }

  .footnote {
    margin-bottom: 1rem;
    display: flex;
  }
}

sup.footnote-marker {
  vertical-align: top;
  position: relative;
  bottom: 0.25em;
}
 
.figure {
  &.level-1 {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
}

.caption {
  font-size: var(--size-small);
  text-align: center;
}


.row {
  @include block; 

  display: flex;
  justify-content: center;
}

.smallcaps {
  font-variant: small-caps;
}

.full-width-container {
  position: relative;
}

.expandable {
  margin: 1rem 0;

  .expand {
    cursor: pointer;
    border: black;
    color: black;
    padding: 2px 4px;
    border-radius: 4px;
  }

  > .inner {
    transition: all 0.25s ease;
    overflow: hidden;

    > div {
      border: 1px solid var(--color-light-border);
      border-radius: 4px;
      padding: 0.5rem 1rem;
    }
  }

  &.expanded {
    > .inner {
      margin-top: 10px;
    }
  }
}
