.logger {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;

  .log {
    border: 1px solid var(--color-light-border);
    border-radius: 4px;
    padding: 0.5rem 1rem;
    margin-top: 1rem;
    opacity: 0;
    max-width: 600px;
    background: white;
  }
}