.inferrule {
  display: inline-block;
  text-align: center;
  margin: 0.5rem 0;

  .divider {
    width: 100%;
    height: 1px;
    background: black;
    margin: 6px 0;
  }

  .premise {
    margin-right: 2rem;
    display: inline-block;

    &:last-child {
      margin-right: 0;
    }
  }

  .premise-row {
    display: block;
    line-height: 2rem;
  }

  .right {
    height: 0;

    > div {
      position: relative;
    }
  }
}

.theorem-body {
  font-style: italic;

  p {
    text-indent: 0;
  }

  ul,
  ol {
    margin: 0;

    li {
      margin: 0;
    }
  }
}
