$size-footnote: 14px;
$size-small: 16px;
$size-normal: 18px;
$size-large: 22px;
$size-Large: 24px;
$size-LARGE: 28px;
$size-huge: 32px;
$size-Huge: 36px;

$colors: (
  peach: rgb(250, 223, 203),
  forest-green: rgb(186, 220, 199),
  error: rgb(190, 34, 34),
  highlight: rgb(255, 249, 172),
);

@mixin color-classes($name, $color) {
  .textcolor-#{$name} {
    color: $color;
  }

  .bgcolor-#{$name} {
    background: $color;
  }
}

@each $name, $color in $colors {
  @include color-classes($name, $color);
}

@function color($key) {
  @return map-get($colors, $key);
}

.nota-document {
  text-align: justify;
  line-height: 1.3em;
  font-size: $size-normal;
  overflow-wrap: anywhere;

  .footnotes {
    font-size: $size-footnote;
  
    .backlink {
      color: black;
      font-size: 10px;
    }

    .footnote-number {
      font-size: $size-small;
      margin-right: 10px;
    }

    .footnote {
      margin-bottom: 1rem;
      display: flex;
    }
  }

  .error {
    color: color("error");
    padding: 2px;
    border: 1px solid color("error");
    border-radius: 2px;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0;
    text-align: left;
    line-height: 1em;
  }

  h1 {
    font-size: $size-huge;
  }

  h2 {
    font-size: $size-Large;
  }

  h3 {
    font-size: $size-large;
  }

  a[href],
  .ref {
    cursor: pointer;
    text-decoration: none;
    color: rgb(0, 0, 238);

    &:visited {
      color: rgb(85, 26, 139);
    }

    &:hover {
      text-decoration: underline;
    }

    &.nolink {
      color: inherit;

      &:hover {
        text-decoration: none;
        background: rgba(19, 92, 202, 0.1);
      }
    }
  }

  .def-mode {
    .ref.nolink {
      border: 1px solid rgba(19, 92, 202, 0.2);
      padding: 3px;
      display: inline-block;
    }
  }

  @keyframes yellowflash {
    from {
      background: #ffdc00;
    }
    to {
      background: transparent;
    }
  }

  .yellowflash {
    animation: yellowflash 1s;
    padding: 4px;
    margin: -4px;
    border-radius: 2px;
  }

  // *:target {
  //   animation: yellowflash 1s;
  //   padding: 4px;
  //   margin: -4px;
  //   border-radius: 2px;
  // }

  p {
    // Note: <html> must have a lang="..." attribute for hyphens to work!
    hyphens: auto;
    margin: 0;

    &.noindent {
      text-indent: 0;
    }
  }

  p + p {
    text-indent: 1em;
  }

  code {
    white-space: nowrap;
  }

  .katex {
    font-size: 1.1rem;
    // line-height: 1.3em;

    .newline {
      display: inline;
    }

    .newline::before {
      content: "\a";
      white-space: pre;
    }
  }

  .nomargin .katex-display {
    margin: 0;
  }

  // Height of tex blocks seems to be getting consistently underestimated
  .katex-display .base {
    margin-bottom: -0.33em;
  }

  // Fix overlapping span elements in align environments
  // See: https://github.com/KaTeX/KaTeX/issues/2815
  .katex .vlist-t2 > .vlist-r:nth-child(2) > .vlist {
    pointer-events: none;
    height: 0px !important;
  }

  .tex-highlight {
    background: color("highlight");
  }

  .bib-references {
    text-align: justify;
    font-size: $size-small;
    line-height: 1.3em;
  }

  .bib-reference {
    text-indent: -1em;
    padding-left: 1em;
  }

  .row {
    display: flex;
    justify-content: center;
  }

  .figure {
    &.level-1 {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
    }
  }

  .caption {
    font-size: $size-small;
    text-align: center;
  }

  sup.footnote-marker {
    vertical-align: top;
    position: relative;
    bottom: 0.25em;
  }

  .tooltip {
    $border-color: #aaa;
    border: 2px solid $border-color;
    background: white;
    padding: 6px 10px;
    border-radius: 4px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    max-width: min(90vw, 600px);
    width: max-content;
    z-index: 1000;

    .arrow {
      visibility: hidden;

      &,
      &::before {
        position: absolute;
        width: 8px;
        height: 8px;
        background: inherit;
        border-radius: 2px;
        border: 2px solid transparent;
      }

      &::before {
        visibility: visible;
        content: "";
        transform: rotate(45deg);
      }
    }

    @mixin placement($placement, $offset, $dir, $ccwdir) {
      &[data-popper-placement^="#{$placement}"] .arrow {
        #{$dir}: $offset;

        &::before {
          border-#{$dir}-color: $border-color;
          border-#{$ccwdir}-color: $border-color;
        }
      }
    }

    @include placement("top", -4px, bottom, right);
    @include placement("bottom", -8px, top, left);
    @include placement("left", -4px, right, top);
    @include placement("right", -4px, left, bottom);
  }

  .expandable {
    margin: 1rem 0;

    .expand {
      cursor: pointer;
      border: black;
      color: black;
      padding: 2px 4px;
      border-radius: 4px;
    }

    > .inner {
      transition: all 0.25s ease;
      overflow: hidden;

      > div {
        border: 1px solid #ccc;
        border-radius: 4px;
        padding: 0.5rem 1rem;
      }
    }

    &.expanded {
      > .inner {
        margin-top: 10px;
      }
    }
  }

  .smallcaps {
    font-variant: small-caps;
  }

  .togglebox-parent,
  .togglebox-grandparent {
    display: inline-block;
  }

  .toggle-button {
    font-size: 0.65rem;
    position: relative;
    bottom: 2px;
    margin-left: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 2px;
    padding: 0 2px;
    vertical-align: middle;
    color: #555;
    cursor: pointer;

    &.big {
      font-size: 1rem;
    }
  }

  .togglebox {
    display: flex;
    justify-content: center;

    > div {
      display: inline-block;
    }
  }

  .inferrule {
    display: inline-block;
    text-align: center;
    margin: 0.5rem 0;

    .divider {
      width: 100%;
      height: 1px;
      background: black;
      margin: 6px 0;
    }

    .premise {
      margin-right: 2rem;
      display: inline-block;

      &:last-child {
        margin-right: 0;
      }
    }

    .premise-row {
      display: block;
      line-height: 2rem;
    }

    .right {
      height: 0;

      > div {
        position: relative;
      }
    }
  }

  .theorem-body {
    font-style: italic;

    p {
      text-indent: 0;
    }

    ul,
    ol {
      margin: 0;

      li {
        margin: 0;
      }
    }
  }

  .correspondence {
    line-height: 1.5em;

    .link {
      border-bottom: 1px solid black;
      padding-bottom: 1px;
    }
    @mixin type($num, $color) {
      .link.type-#{$num} {
        border-color: $color;
      }
      &.hover-type-#{$num} .link.type-#{$num} {
        border-width: 3px;
      }
    }
    @include type(1, rgb(214, 39, 40));
    @include type(2, rgb(44, 160, 44));
    @include type(3, rgb(31, 119, 180));
    @include type(4, rgb(227, 119, 194));
    @include type(5, rgb(148, 103, 189));
    @include type(6, rgb(225, 127, 14));
  }

  hr {
    border-color: #eee;
    margin: 1rem 2rem;
  }

  ul,
  ol {
    padding-left: 1.5rem;

    > li {
      margin-bottom: 0.5rem;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  ol.parenkey {
    counter-reset: list;

    &[start="2"] {
      counter-increment: list;
    }

    > li {
      list-style: none;
    }
    > li:before {
      content: "(" counter(list, lower-alpha) ") ";
      counter-increment: list;
      margin-left: -1.5rem;
    }
  }

  .full-width-container {
    position: relative;
  }

  .comments {
    position: relative;
    height: 100%;
  }

  .comment {
    border: 1px solid #999;
    background: white;
    padding: 0.5rem;
    border-radius: 4px;
    display: inline-block;
    position: absolute;
    left: 0;

    > p:first-child {
      text-indent: 0;
    }
  }

  // https://css-tricks.com/almanac/properties/q/quotes/
  q {
    quotes: "“" "”" "‘" "’";
  }

  .portal {
    position: fixed;
    width: 0;
    height: 0;
    z-index: 1000;
  }

  .loader {
    position: relative;
    opacity: 0.2;

    &.loaded {
      opacity: 1;
    }

    .loader-overlay {
      display: flex;
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      opacity: 1;
      z-index: 1000;

      .loader-spinner {
        width: 100%;
        height: 100%;
        max-width: 60px;
        max-height: 60px;
        margin: auto;

        > div {
          width: inherit;
          height: inherit;
        }
      }
    }
  }

  @keyframes fade {
    from {
      opacity: 1;
    }
    75% {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }

  .logger {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;

    .log {
      border: 1px solid #ccc;
      border-radius: 4px;
      padding: 0.5rem 1rem;
      margin-top: 1rem;
      opacity: 0;
      max-width: 600px;
      background: white;
    }
  }
}
