@mixin loadserif($suffix) {
  font-family: "Linux Libertine O";
  src: url("../fonts/LinLibertine_#{$suffix}.otf");
}

@mixin loadsans($suffix) {
  font-family: "Linux Biolinum O";
  src: url("../fonts/LinBiolinum_#{$suffix}.otf");
}

@font-face {
  @include loadserif("R");
}
@font-face {
  @include loadserif("RB");
  font-weight: bold;
}
@font-face {
  @include loadserif("RI");
  font-style: italic;
}

@font-face {
  @include loadsans("R");
}
@font-face {
  @include loadsans("RB");
  font-weight: bold;
}
@font-face {
  @include loadsans("RI");
  font-style: italic;
}

$serif: "Linux Libertine O", serif;
$sans-serif: "Linux Biolinum O", serif;

$size-footnote: 14px;
$size-small: 16px;
$size-normal: 18px;
$size-large: 22px;
$size-Large: 24px;
$size-LARGE: 28px;
$size-huge: 32px;
$size-Huge: 36px;

$colors: (
  acm-purple: rgb(101, 43, 126),
  peach: rgb(250, 223, 203),
  forest-green: rgb(186, 220, 199),
  error: rgb(190, 34, 34),
  highlight: rgb(255, 249, 172),
);

@each $name, $color in $colors {
  .textcolor-#{$name} {
    color: $color;
  }

  .bgcolor-#{$name} {
    background: $color;
  }
}

@function color($key) {
  @return map-get($colors, $key);
}

body {
  font-family: $serif;
  font-size: $size-normal;
  overflow-wrap: anywhere;
}

.document-wrapper {
  width: 800px;
  margin: 0 auto;
  padding-top: 20px;
}

.document {
  text-align: justify;
  line-height: 1.25em;
}

.footnotes {
  font-size: $size-footnote;
  line-height: 1.2em;
  border-top: 1px solid #ccc;
  padding-top: 10px;
  margin-top: 2rem;

  .backlink {
    color: black;
    font-size: 10px;
  }

  .footnote-number {
    font-size: $size-small;
    margin-right: 10px;
  }

  .footnote {
    margin-bottom: 1rem;
  }
}

.error {
  color: color("error");
  padding: 2px;
  border: 1px solid color("error");
  border-radius: 2px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $sans-serif;
  margin: 0;
  text-align: left;
  line-height: 1em;
}

a[href],
.ref {
  cursor: pointer;
  color: color("acm-purple");
  text-decoration: none;

  &.nolink {
    color: inherit;

    &:hover {
      background: rgba(19, 92, 202, 0.1);
    }
  }
}

.def-mode {
  .ref.nolink {
    border: 1px solid rgba(19, 92, 202, 0.2);
    padding: 3px;
    display: inline-block;
  }
}

*:target {
  animation: fadeout 1s;
  padding: 4px;
  margin: -4px;
  border-radius: 2px;
}

@keyframes fadeout {
  from {
    background: #ffdc00;
  }
  to {
    background: transparent;
  }
}

p {
  text-indent: 1em;
  margin: 0;

  .section-title + & {
    text-indent: 0;
  }

  &.noindent {
    text-indent: 0;
  }
}

.document-title {
  margin-bottom: 2rem;
}

.authors {
  .author {
    .author-name {
      text-transform: uppercase;
      font-family: $sans-serif;
      font-size: $size-large;
    }
  }
}

.abstract {
  margin: 1em 0 2rem;
}

.section-title {
  margin-bottom: 1rem;
  margin-top: 0;
  font-size: $size-large;

  .section-number {
    margin-right: 20px;
  }

  @at-root {
    h2#{&} {
      text-transform: uppercase;
    }
  }

  // h3#{&} {
  //   font-size: $size-normal;
  // }
}

pre,
code {
  font-family: Inconsolata, monospace;
}

code {
  border: 1px solid #eee;
  padding: 0 3px 1px;
  border-radius: 4px;
}

pre {
  margin: 0.5rem 0;
}

section {
  margin-top: 2rem;
}

.katex {
  font-size: 1em;
  line-height: 1.3em;

  .newline {
    display: inline;
  }

  .newline::before {
    content: "\a";    
    white-space: pre;
  }
}

.nomargin .katex-display {
  margin: 0;
}

// Height of tex blocks seems to be getting consistently underestimated
.katex-display .base {
  margin-bottom: -0.33em;
}

// Fix overlapping span elements in align environments
// See: https://github.com/KaTeX/KaTeX/issues/2815
.katex .vlist-t2 > .vlist-r:nth-child(2) > .vlist {
  pointer-events: none;
  height: 0px !important;
}

.tex-highlight {
  background: color("highlight");
}

.bib-references {
  text-align: justify;
  font-size: $size-small;
  line-height: 1.3em;
}

.bib-reference {
  text-indent: -1em;
  padding-left: 1em;
}

.row {
  display: flex;
  justify-content: center;
  margin: 1rem 0;

  > * {
    margin-right: 2rem;

    &:last-child {
      margin-right: 0;
    }
  }
}

.figure {
  &.level-1 {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 1rem 0;
    margin: 2rem 0;
  }

  &.level-2 {
    margin: 1rem 0;
  }
}

.caption {
  font-family: $sans-serif;
  font-size: $size-small;
}

sup.footnote-marker {
  vertical-align: top;
  position: relative;
  bottom: 0.25em;
}

.tooltip {
  $border-color: #aaa;
  border: 2px solid $border-color;
  background: white;
  padding: 6px 10px;
  border-radius: 4px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  max-width: 600px;

  .arrow {
    visibility: hidden;

    &,
    &::before {
      position: absolute;
      width: 8px;
      height: 8px;
      background: inherit;
      border-radius: 2px;
      border: 2px solid transparent;
    }

    &::before {
      visibility: visible;
      content: "";
      transform: rotate(45deg);
    }
  }

  @mixin placement($placement, $dir, $ccwdir) {
    &[data-popper-placement^="#{$placement}"] .arrow {
      #{$dir}: -4px;

      &::before {
        border-#{$dir}-color: $border-color;
        border-#{$ccwdir}-color: $border-color;
      }
    }
  }

  @include placement("top", bottom, right);
}

.expandable {
  margin: 1rem 0;

  .expand {
    cursor: pointer;
    font-family: $sans-serif;
    border: 1px solid color("acm-purple");
    color: color("acm-purple");
    padding: 2px 4px;
    border-radius: 4px;
  }

  > .inner {
    transition: all 0.25s ease;
    overflow: hidden;

    > div {
      border: 1px solid #ccc;
      border-radius: 4px;
      padding: 0.5rem 1rem;
    }
  }

  &.expanded {
    > .inner {
      margin-top: 10px;
    }
  }
}

.smallcaps {
  font-variant: small-caps;
}

.togglebox-parent, .togglebox-grandparent {
  display: inline-block;  
}

.toggle-button {
  font-size: 0.65rem;
  position: relative;
  bottom: 2px;
  margin-left: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 2px;
  padding: 0 2px;
  vertical-align: middle;
  color: #555;
  cursor: pointer;

  &.big {
    font-size: 1rem;
  }
}

.togglebox {
  display: flex;
  justify-content: center;
  
  > div {
    display: inline-block;
  }
}

.inferrule {
  display: inline-block;
  text-align: center;

  .divider {
    width: 100%;
    height: 2px;
    background: black;
    margin: 6px 0;
  }

  .premise {
    margin-right: 2rem;
    display: inline-block;

    &:last-child {
      margin-right: 0;
    }
  }

  .premise-row {
    display: block;
    line-height: 2rem;
  }

  .right {    
    height: 0;

    >div {
      position: relative;
    }
  }
}

.theorem-body {
  font-style: italic;
}

// \definecolor{pred}{RGB}{214,39,40}
// \definecolor{pgrn}{RGB}{44,160,44}
// \definecolor{pblu}{RGB}{31,119,180}
// \definecolor{ppnk}{RGB}{227,119,194} 
// \definecolor{ppur}{RGB}{148,103,189}
// \definecolor{porg}{RGB}{255,127,14}
 

.correspondence {
  .link {
    border-bottom: 2px solid black;
    padding-bottom: 1px;

    &.type-1 { border-color:rgb(214, 39, 40); }
    &.type-2 { border-color: rgb(44, 160, 44); }
    &.type-3 { border-color: rgb(31, 119, 180); }
    &.type-4 { border-color: rgb(227, 119, 194); }
    &.type-5 { border-color: rgb(148, 103, 189); }
    &.type-6 { border-color: rgb(225, 127, 14); }
  }
}