@mixin loadserif($suffix) {
  font-family: "Linux Libertine O";
  src: url("../fonts/LinLibertine_#{$suffix}.otf");
}

@mixin loadsans($suffix) {
  font-family: "Linux Biolinum O";
  src: url("../fonts/LinBiolinum_#{$suffix}.otf");
}

@font-face {
  @include loadserif("R");
}
@font-face {
  @include loadserif("RB");
  font-weight: bold;
}
@font-face {
  @include loadserif("RI");
  font-style: italic;
}

@font-face {
  @include loadsans("R");
}
@font-face {
  @include loadsans("RB");
  font-weight: bold;
}
@font-face {
  @include loadsans("RI");
  font-style: italic;
}

$serif: "Linux Libertine O", serif;
$sans-serif: "Linux Biolinum O", serif;

$size-footnote: 14px;
$size-small: 16px;
$size-normal: 18px;
$size-large: 22px;
$size-Large: 24px;
$size-LARGE: 28px;
$size-huge: 32px;
$size-Huge: 36px;

$colors: (
  acm-purple: rgb(101, 43, 126),
  peach: rgb(250, 223, 203),
  forest-green: rgb(186, 220, 199),
  error: rgb(190, 34, 34),
);

@each $name, $color in $colors {
  .textcolor-#{$name} {
    color: $color;
  }

  .bgcolor-#{$name} {
    background: $color;
  }
}

@function color($key) {
  @return map-get($colors, $key);
}

body {
  font-family: $serif;
  font-size: $size-normal;
  overflow-wrap: anywhere;
}

.document-wrapper {
  width: 800px;
  margin: 0 auto;
  padding-top: 20px;
}

.document {
  text-align: justify;
  line-height: 1.25em;
}

.footnotes {
  font-size: $size-footnote;
  line-height: 1.2em;
  border-top: 1px solid #ccc;
  padding-top: 10px;
  margin-top: 2rem;

  .backlink {
    color: black;
    font-size: 10px;
  }

  .footnote-number {
    font-size: $size-normal;
    margin-right: 5px;
  }
}

.error {
  color: color("error");
  padding: 2px;
  border: 1px solid color("error");
  border-radius: 2px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $sans-serif;
  margin: 0;
  text-align: left;
  line-height: 1em;
}

a[href],
.ref {
  cursor: pointer;
  color: color("acm-purple");
  text-decoration: none;

  &.nolink {
    color: inherit;

    &:hover {
      background: rgba(19, 92, 202, 0.2);
    }
  }
}

.def-mode {
  .ref.nolink {
    border: 1px solid rgba(19, 92, 202, 0.2);
    padding: 3px;
    display: inline-block;

    .ref.nolink {      
      padding: 3px;
    }
  }
}

*:target {
  animation: fadeout 1s;
  padding: 4px;
  margin: -4px;
  border-radius: 2px;
}

@keyframes fadeout {
  from {
    background: #ffdc00;
  }
  to {
    background: transparent;
  }
}

p {
  text-indent: 1em;
  margin: 0;

  .section-title + & {
    text-indent: 0;
  }
}

.document-title {
  margin-bottom: 2rem;
}

.authors {
  .author {
    .author-name {
      text-transform: uppercase;
      font-family: $sans-serif;
      font-size: $size-large;
    }
  }
}

.abstract {
  margin: 1em 0 2rem;
}

.section-title {
  margin-bottom: 1rem;
  margin-top: 0;
  font-size: $size-large;

  .section-number {
    margin-right: 20px;
  }

  @at-root {
    h2#{&} {
      text-transform: uppercase;
    }
  }

  // h3#{&} {
  //   font-size: $size-normal;
  // }
}

pre,
code {
  font-family: Inconsolata, monospace;
}

code {
  border: 1px solid #eee;
  padding: 0 3px 1px;
  border-radius: 4px;
}

pre {
  margin: 0.5rem 0;
}

section {
  margin-top: 2rem;
}

.katex {
  font-size: 1em;
  line-height: 1;
}

.nomargin .katex-display {
  margin: 0;
}

// Fix overlapping span elements in align environments
// See: https://github.com/KaTeX/KaTeX/issues/2815
.katex .vlist-t2 > .vlist-r:nth-child(2) > .vlist {
  pointer-events: none;
}

.bib-references {
  text-align: justify;
  font-size: $size-small;
  line-height: 1.3em;
}

.bib-reference {
  text-indent: -1em;
  padding-left: 1em;
}

.row {
  display: flex;
  justify-content: center;
  margin: 1rem 0;

  > * {
    margin-right: 2rem;

    &:last-child {
      margin-right: 0;
    }
  }
}

sup.footnote-marker {
  vertical-align: top;
  position: relative;
  bottom: 0.25em;
}

.tooltip {
  border: 1px solid #ccc !important;
  font-family: $serif;

  &::after {
    border: none !important;
  }
}

.rc-tooltip {
  opacity: 1;
  background-color: white;
  font-size: $size-small;
}

.rc-tooltip-inner {
  min-height: auto;
  max-width: 760px;
}
