@use "@nota-lang/nota-common/dist/index.scss" as *;

@mixin loadserif($suffix) {
  font-family: "Linux Libertine O";
  src: url("./assets/LinLibertine_#{$suffix}.otf");
}

@mixin loadsans($suffix) {
  font-family: "Linux Biolinum O";
  src: url("./assets/LinBiolinum_#{$suffix}.otf");
}

@font-face {
  @include loadserif("R");
}
@font-face {
  @include loadserif("RB");
  font-weight: bold;
}
@font-face {
  @include loadserif("RI");
  font-style: italic;
}

@font-face {
  @include loadsans("R");
}
@font-face {
  @include loadsans("RB");
  font-weight: bold;
}
@font-face {
  @include loadsans("RI");
  font-style: italic;
}

.nota-document {
  --font-body: "Linux Libertine O", serif;
  --font-header: "Linux Biolinum O", sans-serif;
  --font-mono: "Inconsolata", monospace;

  a[href],
  .ref {
    color: rgb(101, 43, 126);
  }

  .authors {
    .author {
      margin-bottom: 0.25rem;

      .author-name {
        text-transform: uppercase;
        font-family: var(--font-header);
        font-size: var(--size-large);
      }
    }
  }

  .section-title {
    margin-bottom: 1rem;
    margin-top: 0;
    font-size: var(--size-large);

    .section-number {
      margin-right: 20px;
    }

    @at-root {
      h2#{&} {
        text-transform: uppercase;
      }
    }
  }

  .abstract {
    margin: 1em 0 2rem;
  }

  .caption {
    font-family: var(--font-header);
  }

  .footnotes {
    line-height: 1.2em;
    border-top: 1px solid #ccc;
    padding-top: 10px;
    margin-top: 2rem;
  }

  .document-title {
    margin-bottom: 2rem;
  }

  code {
    border: 1px solid #eee;
    padding: 0 3px 1px;
    border-radius: 4px;
  }

  .figure {
    &.level-1 {
      border-top: 1px solid #ddd;
      border-bottom: 1px solid #ddd;
      padding: 1rem 0;
      margin: 2rem 0;
    }

    &.level-2 {
      margin: 1rem 0;
    }
  }

  .expandable .expand { 
    font-family: var(--font-header);
  }
}
