body {
  font: 12pt Helvetica, sans-serif;  
  margin: 0;
  overflow: hidden;
}

$header-height: 45px;

.header {
  display: flex;
  justify-content: space-between;
  height: $header-height;
  box-sizing: border-box;
  padding: 5px 0;

  h1 {
    margin: 0;
    padding-left: 20px;
  }

  .viewer-config {
    padding-top: 5px;
    padding-right: 5px;

    button {
      margin-left: 10px;

      &.active {
        box-shadow: 1px 1px 3px rgb(0 0 0 / 20%)
      }
    }
  }
}

.panels {  
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: calc(100vh - $header-height);

  > div {
    width: 50%;
    height: 100%;
  }

  pre {
    white-space: pre-wrap;
  }

  .viewer {
    height: 100%;
    overflow-y: auto;
    padding-right: 15px;
    padding-left: 15px;
    position: relative;
  }
}