$mobile-cutoff: 800px;

:root {
  $sans-serif: "Helvetica Neue", Helvetica, Arial, sans-serif;
  --font-body: #{$sans-serif};
  --font-header: #{$sans-serif};
  --font-mono: Inconsolata, Monaco, monospace;

  --size-footnote: 14px;
  --size-small: 16px;
  --size-normal: 18px;
  --size-large: 22px;
  --size-Large: 24px;
  --size-LARGE: 28px;
  --size-huge: 32px;
  --size-Huge: 36px;

  --fg: black;
  --bg: white;

  --color-peach: rgb(250, 223, 203);
  --color-forest-green: rgb(186, 220, 199);
  --color-error: rgb(190, 34, 34);
  --color-highlight: rgb(255, 249, 172);
  --color-light-border: #ccc;
}

@mixin mobile {
  @media (max-width: ($mobile-cutoff - 1)) {
    @content;
  }
}

@mixin monitor {
  @media (min-width: $mobile-cutoff) {
    @content;
  }
}

@mixin color-classes($name) {
  .textcolor-#{$name} {
    color: var(--color-#{$name});
  }

  .bgcolor-#{$name} {
    background: var(--color-#{$name});
  }
}

$color-names: peach, forest-green, error, highlight, light-border;
@each $name in $color-names {
  @include color-classes($name);
}